@charset "UTF-8";

.sub_cnts {
    position: relative;
    float: left;
    margin-top: 20px;
    width: 834px;
}
.title_wrap .txt_line {
    float: left;
    margin-left: 15px;
    padding-left: 15px;
    color: #999;
    background: url(/_ui/desktop/common/images/common/ico_txt_line.gif) 0 5px no-repeat;
    line-height: 24px;
}
.pw_reaffirm {
    padding: 40px;
    background: #fff;
    border: 1px solid #e3e3e3;
}
.pw_reaffirm .login_section {
    width: 320px;
    margin: 0 auto;
}
.pw_reaffirm .login_section > div label {
    display: inline-block;
    width: 55px;
    font-size: 12px;
}
.btnwrap {
    margin-top: 40px;
    text-align: center;
}
.btnwrap a {
    margin-left: 5px;
    display: inline-block;
    color: #363636;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.wt {
    padding: 8px 20px 10px;
    min-width: 140px;
    background: #fff;
    border: 1px solid #a3a3a3;
    font-size: 14px;
}
.gray {
    padding: 8px 20px 10px;
    min-width: 140px;
    background: #4a4a4a;
    border: 1px solid #4a4a4a;
    color: #fff !important;
    font-size: 14px;
}
a:link, a {
    text-decoration: none;
}
img, fieldset {
    border: 0;
}
legend {
    position: absolute;
    left: -5000px;
    font-size: 0;
}