@charset "UTF-8";

.header_fixed {
    z-index: 99;
}

.header {
    position: fixed;
    width: 100%;
    min-width: 1205px;
    height: 119px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

#headerWrap .top_nav.topnav1903 {
    background: #fff;
    height: 38px;
    border-bottom: 1px solid #e5e5e5;
}

#headerWrap .top_nav {
    background: #f1f1f1;
    height: 40px;
}

#headerWrap .top_nav .top_nav_wrap, #headerWrap .gnbwarp .gnb_nav .sub_menu, .gnbwarp, .main_container, .thehyundaiWrap .innerWrap {
    margin: 0 auto;
    width: auto;
    min-width: 995px;
    max-width: 1205px;
}

#headerWrap .top_nav .top_nav_wrap {
    position: relative;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.util_menu > ul > li:first-child {
    padding-right: 8px;
}

.util_menu > ul > li {
    float: left;
}

li {
    list-style: none;
}

.util_menu > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    color: #363636;
}

.util_menu .mypage .btn {
    width: 72px;
    font-weight: normal;
}

.header_dropmemu .btn {
    display: block;
    padding-left: 8px;
    height: 40px;
    line-height: 40px;
    background: url(/_ui/desktop/common/images/common/ico_utilmenu.png) right 19px no-repeat;
    font-size: 10px;
    text-align: left;
}

.btn:first-child {
    margin-left: 0;
}

.util_menu > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    color: #363636;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


#headerWrap .gnbwarp .gnb_nav1903 {
    float: left;
    margin-top: 17px;
    width: 67%;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.invisible {
    position: absolute;
    left: -5000px;
    height: 0;
    line-height: 0;
}

#headerWrap .gnbwarp .gnb_nav1903 ul.gnbul1 {
    float: left;
}

#headerWrap .gnbwarp .gnb_nav1903 ul.gnbul1 {
    float: left;
}

#headerWrap .gnbwarp .gnb_nav > ul > li {
    float: left;
}

#headerWrap .gnbwarp .gnb_nav > ul > li > a {
    position: relative;
    margin: 0;
    padding: 12px 16px 30px;
}

#headerWrap .gnbwarp .gnb_nav1903 > ul > li > a {
    position: relative;
    display: block;
    margin: 12px 17px 30px;
    color: #363636;
}

#headerWrap .gnbwarp .gnb_nav > ul > li > a {
    position: relative;
    display: block;
    margin: 14px 25px 28px;
    color: #363636;
}

a:link, a:active, a:visited, a {
    text-decoration: none;
}

a {
    color: #444;
    outline: none;
}

#headerWrap .gnbwarp .util_menu1803 {
    float: right;
    margin-top: 20px;
}

#headerWrap .gnbwarp .util_menu {
    float: right;
    margin-top: 24px;
}

#headerWrap .gnbwarp .util_menu > ul > li:first-child {
    min-width: 23px;
}
#headerWrap .gnbwarp .util_menu > ul > li {
    min-width: 32px;
    max-width: 42px;
    text-align: right;
}
.util_menu > ul > li:first-child {
    padding-right: 8px;
}
.util_menu > ul > li {
    float: left;
}
li {
    list-style: none;
}

.util_menu > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    color: #363636;
}

a:link, a:active, a:visited, a {
    text-decoration: none;
}

#headerWrap .gnbwarp .util_menu > ul > li {
    min-width: 32px;
    max-width: 42px;
    text-align: right;
}
.util_menu1803 > ul > li:nth-child(2) {
    padding-right: 8px;
}
.util_menu > ul > li {
    float: left;
}
li {
    list-style: none;
}

.util_menu ul li span.ico.wishlist {
    background: url(http://cdn.thehandsome.com/_ui/desktop/common/images/common/ico_utilmenu_new.png) -15px 11px no-repeat;
    width: 16px;
}

.util_menu ul li span.ico_sh {
    background: url(http://cdn.thehandsome.com/_ui/desktop/common/images/common/ico_utilmenu_new.png) 0 11px no-repeat;
    width: 15px;
}

.util_menu1803 > ul > li .ico_sh {
    display: block;
    width: 18px;
    background: url(/_ui/desktop/common/images/common/btn_sh_all.png) 0 center no-repeat;
    overflow: hidden;
    text-indent: -999em;
    text-align: left;
}

.util_menu a span {
    line-height: 40px;
}

.util_menu .ico.wishlist {
    background-position: 0 -24px;
}

.util_menu .ico {
    display: inline-block;
    width: 15px;
    background: url(/_ui/desktop/common/images/common/ico_utilmenu.png) 0 0 no-repeat;
    text-indent: -999em;
    text-align: left;
}

.util_menu a span {
    line-height: 40px;
}

.util_menu .count {
    display: inline-block;
    font-size: 10px;
}

.util_menu a span {
    line-height: 40px;
}

.util_menu a span {
    line-height: 40px;
}

.util_menu ul li span.ico.cart {
    background: url(http://cdn.thehandsome.com/_ui/desktop/common/images/common/ico_utilmenu_new.png) -31px 11px no-repeat;
}

.util_menu .ico.cart {
    background-position: -38px -24px;
}

.util_menu .ico {
    display: inline-block;
    width: 15px;
    background: url(/_ui/desktop/common/images/common/ico_utilmenu.png) 0 0 no-repeat;
    text-indent: -999em;
    text-align: left;
}

.util_menu a span {
    line-height: 40px;
}

