@charset "UTF-8";

body {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: visible !important;
	font-family: "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", AppleGothic,
		sans-serif;
	color: #555;
	font-size: 12px;
}

.cnts_title {
	height: 89px;
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
	font-weight: normal;
}

.ou1804 span a {
	padding: 0 20px;
	background: none;
}

.filterWrap {
	height: 40px;
	position: relative;
	z-index: 2;
	border-bottom: 1px solid #e3e3e3;
}

.filterWrap .items_count {
	padding-top: 10px;
}

.filterWrap li {
	width: 128px;
	float: left;
	position: relative;
}

.float_left {
	float: left;
}

.filterWrap li .select {
	display: block;
	color: #363636;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

a:link, a:active, a:visited, a {
	text-decoration: none;
}

.filterWrap li a {
	line-height: 20px;
	text-align: center;
}

.brand .list {
	left: -1px;
	width: 195px;
	height: 235px;
	overflow-y: auto;
}

.cnts_title span {
	display: block;
	margin: 0 auto;
	padding-top: 33px;
	font-size: 26px;
	color: #363636;
}

.filterWrap li .select {
	display: block;
	color: #363636;
}

.filterWrap li {
	width: 128px;
	float: left;
	position: relative;
}

.filterWrap li .select .ico_arr {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(/_ui/desktop/common/images/products/ico_select.png)
		center 9px no-repeat;
	text-indent: -999em;
}

.filterWrap li.color .list {
	width: 120px;
}

a {
	outline: none;
}

li {
	list-style: none;
}

a:-webkit-any-link {
	cursor: pointer;
}

label, em, span {
	font-size: inherit;
}

filterWrap li.price .list {
	width: 140px;
}

filterWrap li.sortby {
	margin-right: 30px;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.filterWrap li.btn a {
	display: inline-block;
	margin-right: 20px;
	text-decoration: underline;
}

.btn {
	margin-left: 5px;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.filterWrap.hsDelivery1902 li.btn {
	padding-left: 172px;
}

.float_right {
	float: right;
}

.filterWrap .items_count {
	margin-right: 3px;
}

div {
	display: block;
}

form {
	display: inline;
}

.item_box {
	position: relative;
	padding-bottom: 40px;
}

.item_box .item_info1 {
	margin-bottom: 8px;
	letter-spacing: 1px;
}

.item_img {
	display: block;
	position: relative;
}

.item_img img {
	width: 100%;
	max-width: 294px;
	display: block;
}

.item_box a {
	display: block;
	position: relative;
	font-size: 11px;
}

.item_info2 span {
	display: block;
	text-align: center;
}

.items_list li {
	float: left;
	width: 24.5%;
}

.item_info2 .brand {
	letter-spacing: 1px;
	font-family: "whitneyBold", "Malgun Gothic", "맑은 고딕";
	font-size: 11px;
	color: #363636;
}

.item_info2 .title {
	padding: 0 10px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item_info2 span {
	display: block;
	text-align: center;
}

.item_info2 .price {
	padding: 5px 0;
	color: #0d0d0d;
}

.item_box .item_info2 .price span {
	display: inline-block;
}

.items_list cate_item4 {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
