.sub_cnts {
    position: relative;
    float: left;
    margin-top: 20px;
    width: 834px;
}
.search_wrap {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #e3e3e3;
    text-align: center;
}
.search_wrap ul {
    display: inline-block;
    margin: 0 auto;
}
.search_wrap ul > li:first-child {
    margin-bottom: 10px;
}
.search_wrap ul > li {
    overflow: hidden;
}
.search_wrap p {
    width: 78px;
    text-align: left;
    margin-right: 15px;
    color: #222;
    float: left;
    padding-left: 11px;
    font-size: 12px;
}
.search_wrap ul > li > p label {
    vertical-align: -10px;
}
.mr5 {
    margin-right: 5px!important;
}

.calendar_wrap .ico_cld {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    border-left: 0;
    background: #fff url(/_ui/desktop/common/images/common/ico_calendar.png) 50% 50% no-repeat;
    text-indent: -999em;
    vertical-align: top;
}
.form_hyphen {
    padding-right: 5px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    text-align: center;
    color: #b0b0b0;
}
.calendar_wrap .input_date {
    margin-right: 0;
    width: 100px;
}
.calendar_wrap .input_date {
    margin-right: 0;
    width: 100px;
}
.mt50 {
    margin-top: 50px!important;
}
.title_wrap {
    position: relative;
    margin-bottom: 15px;
    min-height: 25px;
    overflow: hidden;
}

.search_wrap .btn_search {
    margin-left: 5px;
    padding: 0 30px;
    background: #4a4a4a;
    height:30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border: 0;
    cursor: pointer;
}
li {
    list-style: none;
}
.search_wrap ul > li.space {
    margin-top: 8px;
}
.search_wrap ul > li > p {
    width: 78px;
    text-align: left;
}
.search_wrap ul > li > p, .search_wrap ul > li > div {
    float: left;
}
.tblwrap {
    position: relative;
}
.tbl_ltype {
    border-top: 1px solid #414040;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
caption {
    position: relative;
    left: -5000px;
    height: 0;
    line-height: 0;
    text-indent: -5000px;
}
.tblwrap.lncl1812 .tbl_ltype th {
    padding: 15px 10px;
}
.tbl_ltype th {
    padding: 15px;
    color: #222;
    line-height: 14px;
    text-align: center;
    background: #f5f5f5;
}
.gd_wrap {
    border-top: 1px solid #ebebeb;
}
.mt70 {
    margin-top: 70px!important;
}
.gd_list.com {
    width: auto;
    border-top: none;
}
.gd_list {
    margin: auto;
    padding: 60px 20px;
    width: 995px;
    border-top: 1px solid #ebebeb;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pl0 {
    padding-left: 0px!important;
}
.gd_list.com dt {
    width: auto;
    padding-right: 50px;
}
.gd_list dt {
    float: left;
    width: 20%;
    color: #222;
    font-size: 16px;
    font-weight: bold;
    clear: both;
}
.gd_list.com dd {
    width: auto;
}
.gd_list dd {
    float: left;
}
.bul_sty01_li li {
    padding-left: 11px;
    background: url(/_ui/desktop/common/images/common/li_bul_1.png) 0 8px no-repeat;
    line-height: 22px;
    font-size: 12px;
}
