@charset "UTF-8";

.bodywrap {
    padding: 119px 0 45px 0;
    height:1000px;
}
body{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
.bodywrap{
	padding: 119px 0 45px 0;
}
.bodywrap h3{
	height: 89px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    font-weight: normal;
}
.container{
	margin: 0 auto;
	width: 995px;
	position: relative;
}
.info-wrap{
	float: left;
    width: 141px;
    margin: 20px 20px 0 0;
}
.info-wrap h4 a{
	display: block;
    padding: 23px 0 23px 17px;
    background-color: #222222;
    font-size: 16px;
    color: #fff;
}
.guide{
	margin-top: 10px;
    padding: 15px 12px 10px 12px;
    background: #f5f5f5;
    text-align: center;
}
.sub-container{
	position: relative;
    float: left;
    margin-top: 20px;
    width: 834px;
}
.profile{
	margin-bottom: 55px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 25px 30px;
}
.title-wrap{
	position: relative;
    margin-bottom: 15px;
    min-height: 25px;
    overflow: hidden;
}
.line{
	padding-bottom: 15px;
    border-bottom: 1px solid #414040;
}
.title-wrap h4 {
	float: left;
}
.btn-wrap{
	float: right;
}
.table-wrap{
	    border-top: 1px solid #414040;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.wish-wrap {
	overflow:hidden;
}
.wish-wrap li img {
    width: 155px;
    height: 155px;
}
.wish-wrap li{
	position: relative;
    float: left;
    width: 155px;
}
.wish-wrap li a {
 	color: #222;
    text-align: center;
    display: block;
    overflow: hidden;
}
.brand{
	display:block;
	text-align: center;
}