@charset "UTF-8";

.sub_container {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 995px;
}
.orderwrap{
	margin-top: 60px;
}
.orderwrap:after{
	padding: 0px 45px 45px 20px ;
	content: "";
    display: block;
    clear: both;
}
.float_left {
    float: left;
    width:600px;
}
.tblwrap {
    position: relative;
}
table{
	border-top: 1px solid #414040;
	width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
caption {
    position: relative;
    left: -5000px;
    height: 0;
    line-height: 0;
    text-indent: -5000px;
}
th {
    padding: 15px;
    color: #222;
    line-height: 14px;
    text-align: center;
    background: #f5f5f5;
}
.al_middle{
    vertical-align: middle;
}
.frt {
    border-left: 0;
}
.pt_list_all {
    position: relative;
    padding-left: 120px;
    min-height: 100px;
    overflow: hidden;
}
.tlt_wrap {
    width: 100%;
    text-align: left;
}
.tlt {
    margin-top: 5px;
    font-size: 11px;
}
.sb_tlt {
    display: block;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.color_op {
    text-align: left;
    margin-top: 10px;
    font-size: 11px;
    color: #999;
}
.color_op .and_line {
    display: inline-block;
    padding: 0 5px;
    font-size: 11px;
    color: #999;
}
.tbl_wtype1 {
    border-top: 1px solid #666;
    color: #222;
    font-size: 12px;
    clear: both;
}
caption {
    position: relative;
    left: -5000px;
    height: 0;
    line-height: 0;
    text-indent: -5000px;
}
.th_space {
    padding-left: 28px;
}
.tbl_wtype1 th {
    padding: 7px 0 7px 15px;
    line-height: 30px;
    background: #f5f5f5;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
    vertical-align: top;
}
.mt40 {
    margin-top: 40px !important;
}
.title_wrap {
    position: relative;
    margin-bottom: 15px;
    min-height: 25px;
    overflow: hidden;
}
.title_wrap h4 {
    font-size: 16px;
    color: #222;
}
.reqd_txt.none {
    position: relative;
    float: left;
    margin: 3px 0 0 15px;
}
.reqd_txt{
	right: 0;
    bottom: 0;
    display: block;
}
input[type=text]{
    margin-right: 5px;
    height: 28px;
    line-height: 30px;
    text-indent: 10px;
    border: 1px solid #ccc;
}
.post_wall.top {
    width: 100%;
    margin: 5px 0;
}
.post_wall {
    width: 100%;
}
.pt_list_all img {
    position: absolute;
    left: 0;
    top: 0;
    width: 98px;
    height: 98px;
}
.cnts_title {
    height: 89px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    font-weight: normal;
}
.cnts_title span {
    display: block;
    margin: 0 auto;
    padding-top: 33px;
    font-size: 26px;
    color: #363636;
}
.orderwrap {
    margin-top: 60px;
}
.orderwrap > div {
    width: 665px;
}
.one_click_pay {
    background-position: 0 8px;
    height: 30px;
}
.rd_wrap label {
    display: inline-block;
    line-height: 30px;
    vertical-align:middle;
}
.mr20 {
    margin-right: 20px!important;
}
li {
    list-style: none;
}
.float_right {
    float: right;
    position: absolute;
	left: 1200px;
    top: 336px;
    width: 308px;
}
.sum_box {
    border: 1px solid #414040;
    margin-bottom: 15px;
}
.total dt {
    font-size: 14px;
    color: #555;
    font-weight: bold;
}
.sum_box > div:first-child {
    padding: 10px 20px 30px;
}
.total {
    background-color: #f5f5f5;
    padding: 20px 10px 15px 20px;
}
.sum_box dd {
    width: 44%;
    float: right;
    text-align: right;
    line-height: 24px;
}
.sub_total190816 {
    padding-bottom: 13px;
}
.sum_box dd {
    width: 44%;
    float: right;
    text-align: right;
    line-height: 24px;
}
.sum_box .total dd {
    font-size: 18px;
    color: #c69c6c;
    font-weight: bold;
    text-align: right;
}
.gray {
    margin-left: 0;
    width: 100%;
    padding: 13px 0 15px;
    min-width: 140px;
    background: #4a4a4a;
    border: 1px solid #4a4a4a;
    color: #fff;
    font-size: 14px;
    display:block;
    text-align: center;
}
a:visited, a {
    text-decoration: none;
}
.tbl_wtype1 td {
    padding: 7px 10px;
    height: 30px;
    line-height: 30px;
    color: #444;
    border-bottom: 1px solid #dfdfdf;
}

/* Hansol */