@charset "UTF-8";

.sub-container{
	position: relative;
    float: left;
    margin-top: 20px;
    width: 834px;
}
.title_wrap {
    position: relative;
    margin-top: 20px;
    margin-bottom: 15px;
    min-height: 25px;
    overflow: hidden;
}
.title_wrap h4 {
    display: inline;
    font-size: 16px;
    color: #222;
}
.float_right {
    float: right;
}
.reqd_txt {
    font-size: 12px;
    line-height: 18px;
}
legend {
    position: absolute;
    left: -5000px;
    font-size: 0;
}
.tblwrap {
    position: relative;
}
.reqd {
    float: left;
    padding: 1px 3px 0 0;
    color: #c69c6c;
    font-size: 18px;
}
caption {
    position: relative;
    left: -5000px;
    height: 0;
    line-height: 0;
    text-indent: -5000px;
}
.guide_txt {
    padding-top: 10px;
    line-height: 20px;
    font-size: 11px;
}
.float_left {
    float: left;
}
.mt40 {
    margin-top: 40px!important;
}
.btn {
    margin-left: 5px;
    display: inline-block;
    color: #363636;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.btnwrap {
    text-align: center;
}
.wt {
    padding: 8px 20px 10px;
    min-width: 140px;
    background: #fff;
    border: 1px solid #a3a3a3;
    font-size: 14px;
}
.gray {
    padding: 8px 20px 10px;
    min-width: 140px;
    background: #4a4a4a;
    border: 1px solid #4a4a4a;
    color: #fff;
    font-size: 14px;
}
fieldset {
    border: 0;
}
.tbl_wtype1 label {
    display: inline-block;
    line-height: 30px;
    font-size: inherit;
}
.tbl_wtype1 {
    width: 100%;
    border-top: 1px solid #414040;
    border-spacing: 0;
}
.tbl_wtype1 th {
    padding: 7px 0 7px 15px;
    line-height: 30px;
    background: #f5f5f5;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
    vertical-align: top;
}
.tbl_wtype1 td {
    padding: 7px 10px;
    height: 30px;
    line-height: 30px;
    color: #444;
    border-bottom: 1px solid #dfdfdf;
}